.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--text);
    margin-bottom: 40px;
}

.section {
    margin: 32px 0;
}

.no_message {
    margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 52px;
    }

    .section {
        margin: 48px 0;
    }

    .no_message {
        margin-bottom: 72px;
    }
}