.content {
  display: flex;
  flex-direction: column;
}

.closeBtn {
  fill: var(--text);
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  display: block;
}

.info {
  text-align: center;
  margin-bottom: 32px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btnLogin {
  padding: 12px;
  background: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--border);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: var(--text);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnRegister {
  padding: 12px;
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  background: var(--color-royal-blue);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .closeBtn {
    top: 16px;
    right: 16px;
  }

  .title {
    font-size: 32px;
  }

  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .btnLogin,
  .btnRegister {
    padding: 12px 30px;
    min-width: 200px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }
}
