.tabsContainer {
    display: flex;
    margin-bottom: 32px;
    width: 100%;
}

.tab {
    flex: 1;
    text-align: center;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #8c8c8c;
    border-bottom: 1px solid #d9d9d9;
    transition: all 0.2s ease;
    text-decoration: none;
    font-weight: 500;
}

.tab.active {
    color: var(--text);
    border-bottom: 2px solid var(--text);
}

@media screen and (min-width: 768px) {
    .tabsContainer {
        margin-bottom: 40px;
    }

    .tab {
        font-size: 18px;
    }
}