.paginateButton {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-invert);
  border: 1px solid var(--button-solid);
  border-radius: 8px;
  padding: 6px 12px;
  max-width: 287px;
  width: 100%;
  height: 48px;
  background-color: var(--button-solid);
  margin: 0 auto;
  margin-bottom: 64px;
}

.paginateButton:hover,
.paginateButton:focus {
  background-color: var(--button-solid-hover);
  color: var(--text);
}

.paginateButton:active {
  background-color: var(--button-solid-active);
  color: var(--text);
}

@media screen and (min-width: 768px) {
  .paginateButton {
    width: auto;
    min-width: 123px;
  }
}

@media screen and (min-width: 1440px) {
  .paginateButton {
    font-size: 18px;
    margin: 24px auto 72px;
    width: auto;
    min-width: 135px;
    margin-bottom: 72px;
  }
}
