.content {
  display: flex;
  flex-direction: column;
}

.btnButton {
  fill: var(--text);
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
}

.icon {
  display: block;
}

.info {
  text-align: center;
  margin-bottom: 32px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text);
}

.btnCancel {
  padding: 12px 123px;
  background: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--border);
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 24px;
  max-width: 295px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnConfirm {
  padding: 12px 124px;
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  background: var(--color-royal-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  max-width: 295px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .btnButton {
    top: 16px;
    right: 16px;
  }

  .title {
    font-size: 32px;
  }

  .twoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .btnCancel {
    padding: 12px 77px;
    margin-bottom: 0px;
    max-width: 203px;
  }

  .btnConfirm {
    padding: 12px 78px;
    max-width: 203px;
  }
}

@media (min-width: 1440px) {
  .btnButton {
    top: 24px;
    right: 24px;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-size: 20px;
  }

  .btnCancel {
    padding: 11px 74px;
    font-size: 18px;
  }

  .btnConfirm {
    padding: 11px 75px;
    font-size: 18px;
  }
}