.container {
  padding: 20px 16px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 40px 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 60px 100px;
  }
}

.content {
  margin-top: 32px;
}

.slotWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
