.ourTravellersSection {
    padding: 64px 0;
}

.title {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--text);
    margin-bottom: 48px;
}

.paginateButton {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    background: var(--color-royal-blue);
    border: 1px solid var(--color-royal-blue);
    border-radius: 8px;
    padding: 6px 12px;
    width: 173px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    word-break: break-word;
}

.paginateButton:hover,
.paginateButton:focus {
    background-color: var(--button-solid-hover);
    color: var(--text);
}

.paginateButton:active {
    background-color: var(--button-solid-active);
    color: var(--text);
}

@media screen and (min-width: 768px) {
    .paginateButton {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    .paginateButton {
        font-size: 18px;
        margin: 48px auto 0;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .ourTravellersSection {
        padding: 72px 0;
    }

    .title {
        font-size: 52px;
    }
}
