/* Styles for Mobile devices */
@media screen and (min-width: 320px) and (max-width: 374px) {
    .container {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 375px) {
    .container {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 375px;
    }
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 64px;
    }
}

.popularSection {
    padding: 0;
}

.title {
    font-family: var(--second-family);
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.button {
    border: 1px solid var(--button-solid);
    border-radius: 8px;
    padding: 12px;
    background-color: var(--button-solid);
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-invert);
    margin-bottom: 64px;
    width: 163px;
    height: 48px;
}

.button:hover,
.button:focus {
    background-color: var(--button-solid-hover);
    color: var(--text);
}

.button:active {
    background-color: var(--button-solid-active);
    color: var(--text);
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 52px;
        margin-bottom: 40px;
    }

    .button {
        font-size: 18px;
    }
}
