.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--text);
    margin: 32px auto 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
}

.card {
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    height: 335px;
    min-width: 250px;
    background: var(--card);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image {
    border-radius: 100%;
    object-fit: cover;
    width: 112px;
    height: 112px;
}

.container {
    margin: 24 auto 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    border: 1px solid var(--button-border);
    border-radius: 8px;
    padding: 6px 12px;
    width: 100%;
    height: 48px;
    margin-top: auto;
    background: var(--button);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover);
    border-color: var(--opacity-transparent);
    color: var(--button-hover-text);
}

.button:active {
    background-color: var(--button-active);
    border-color: var(--opacity-transparent);
    color: var(--button-hover-text);
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 48px;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }

    .card {
        width: calc((100% - 24px) / 2);
        height: 363px;
    }

    .container {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 56px;
    }

    .card {
        width: calc((100% - 72px) / 4);
        height: 384px;
    }

    .container {
        width: 100%;
    }

    .name {
        font-size: 26px;
    }

    .text {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }
}